<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<div>

    <div style="text-align:center; padding: 20px;">
        <p style="color:rgb(0, 96, 231);font-size:15px"><strong>User ID:  </strong></p><input [(ngModel)]="_userId" (ngModelChange)="userIdChanged()" name="_userId" />
    </div>

    <app-trolley [_userId]="_userId" (_trolleyExists)="trolleyExists($event)"></app-trolley>
    <app-products-album *ngIf="_trolleyExists" [_userId]="_userId"></app-products-album> 
    <h1  *ngIf="!_trolleyExists"> Welcome </h1>

</div>
